# Node
node_modules/
dist/
build/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Editor / IDE
.vscode/
.idea/

# OS
.DS_Store

# Coverage / test
coverage/

# WebApp build
webapp/dist/

# Misc
*.swp